*{
    padding: 0;
    margin:0;
}
.App{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 0;
}
.header{
    background: #198a56;
     padding: 14px; 
    color: white;
    width: 100%;
    margin-top: 0px;
    
}

.form{
    margin: 10px;
}

.data{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.datalist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}